--extra-index-url https://download.pytorch.org/whl/cu121

customtkinter==5.2.1
moviepy==1.0.3
openai==1.36.0
pyaudio==0.2.14
pydub==0.25.1
python-dotenv==1.0.1
pytubefix==6.5.2
SpeechRecognition==3.9.0
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
whisperx==3.1.5
